* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

/** common styles */
.container {
  max-width: 1210px;
  margin: 0 auto;
}

.text-yellow {
  color: #e9b44c;
}

.btn {
  color: #2e2622;
  background-color: #e9b44c;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 34px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

/** nav styles */
nav {
  background-color: #2e2622;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;
}

.menu-items {
  display: flex;
  gap: 30px;

  list-style: none;
}

.menu-items li a {
  color: #fbf6ef;
  text-decoration: none;
  font-weight: 600;
}
