* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

/** common styles */
#our-story,
#popular-picks,
#why-us,
#when-open,
#footer {
  margin: 80px 0;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.text-yellow {
  color: #e9b44c;
}

.btn {
  color: #2e2622;
  background-color: #e9b44c;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 34px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.section-heading {
  font-size: 34px;
  color: #2e2622;
  text-transform: capitalize;
}
.section-top-text {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
/* common styles ends */

/** nav styles */
nav {
  background-color: #2e2622;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;
}

.menu-items {
  display: flex;
  gap: 30px;

  list-style: none;
}

.menu-items li a {
  color: #fbf6ef;
  text-decoration: none;
  font-weight: 600;
}

/** banner styles */
#banner-container {
  background:
    linear-gradient(to bottom, rgba(20, 15, 12, 0.65), rgba(20, 15, 12, 0.55)),
    url(../image/bg-image.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.banner-top-text {
  font-size: 19px;
  margin-bottom: 25px;
  text-transform: uppercase;
  word-spacing: 10px;
}

.banner-heading {
  color: white;
  font-size: 52px;
  margin-bottom: 20px;
  line-height: 100px;
  text-transform: uppercase;
}
.banner-desc {
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
}

/* our story section styles */

.our-story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.our-story-image img {
  width: 100%;
  border-radius: 15px;
}
.our-story-content h3 {
  font-size: 30px;
  color: #2e2622;
  margin-bottom: 20px;
}

.our-story-content p {
  color: #5a4f47;
  margin-bottom: 20px;
}

/* popular picks styles */

#popular-picks {
  background-color: #f1e7d8;
}
.popular-picks-container {
  padding-top: 90px;
  text-align: center;
}
.popular-picks-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 80px 0;
}

.popular-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 12px;
  box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.16);
}

.popular-card img {
  margin: 25px 0;
}

.popular-card h3 {
  font-size: 19px;
  color: #2e2622;
  margin-bottom: 18px;
}
.popular-card p {
  font-size: 16px;
  color: #2e2622;
  margin-bottom: 15px;
}
.popular-card h4 {
  margin-bottom: 25px;
}
.text-yellow {
  font-size: 18px;
  font-weight: 700;
}

/* why us section styles */

.why-us-container {
  text-align: center;
}

.why-us-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 80px 0;
}
.why-us-card {
  padding: 20px;
  /* margin-bottom: 8px; */
  border-radius: 12px;
}
.why-us-card img {
  margin-bottom: 20px;
}

.why-us-card h3 {
  font-size: 19px;
  color: #2e2622;
  margin-bottom: 18px;
}
.why-us-card p {
  font-size: 16px;
  color: #2e2622;
}

/* opening hours styles */
.opening-hours-table {
  display: flex;
  justify-content: center;
}
.opening-hours-container {
  text-align: center;
}
thead {
  text-align: left;
  background-color: #2e2622;
}
tbody {
  text-align: left;
}
.opening-hours-table-container {
  margin: 50px 0;
  border-collapse: collapse;
}

.opening-hours-table-container th,
.opening-hours-table-container td {
  border: 2px solid #2e2622;
  padding: 12px 200px 12px 20px;
}

/* when open section styles */
.when-open-container {
  background: url("../image/footer-img.avif");
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-radius: 14px;
}

.when-open-container {
  position: relative;
}
.circle-24-7 {
  color: black;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 20px;
  border-radius: 100%;
}
.always-open {
  color: black;
  background-color: white;
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 10px 20px;
  border-radius: 12px;
}

.always-open h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #2e2622;
}
.always-open p {
  /* margin-bottom: 12px; */
  font-size: 13px;
  font-weight: 500;
  color: #5a4f47;
}

/** footer styles */

footer {
  background-color: #2f2621;
}
#footer-section {
  padding: 60px 0 25px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-brand h3,
.footer-links h3,
.footer-contact h3 {
  color: #f0b53c;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-brand h3 i {
  font-size: 20px;
  margin-right: 8px;
}

.footer-brand p,
.footer-contact p,
.footer-links ul li a,
.footer-bottom p {
  color: #c8bcb4;
  font-size: 14px;
  text-decoration: none;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 20px;
}

.footer-contact p {
  margin-bottom: 20px;
}

#footer-section hr {
  border: none;
  height: 1px;
  background-color: #463b35;
  margin: 40px 0 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
}

.footer-social-icons a {
  width: 35px;
  height: 35px;
  background-color: #4a3f39;
  color: #c8bcb4;
  border-radius: 50%;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer-social-icons a:hover {
  color: #f0b53c;
} */
